<div>
  <select (change)="onChange($event.target.value)">
    <option value="all">All Animals</option>
    <option value="young">2 Yrs or Younger</option>
    <option value="old">Older than 2</option>
  </select>
  <ul>
    <li (click)="viewAnimal(currentAnimal)" *ngFor="let currentAnimal of childAnimalList | sortBySpecies | sortByAge:filterByAge" class="outside">{{currentAnimal.species}}</li>
  </ul>
  <div *ngIf="this.selectedAnimal">
    <h3>{{this.selectedAnimal.species}}</h3>
    <p>Individual's name: <strong>{{this.selectedAnimal.name}}</strong></p>
    <p>Age: {{this.selectedAnimal.age}}</p>
    <p>Gender: {{this.selectedAnimal.sex}}</p>
    <p>Zoo location: {{this.selectedAnimal.location}}</p>
    <hr>
    <h4>Care Details:</h4>
    <p>Diet primarily consists of: {{this.selectedAnimal.diet}}</p>
    <p>No. of Required Caretakers: {{this.selectedAnimal.caretakers}}</p>
    <p>Likes: {{this.selectedAnimal.likes}}</p>
    <p>Dislikes: {{this.selectedAnimal.dislikes}}</p>
    <button (click)="editButtonHasBeenClicked(selectedAnimal)">Edit!</button>
  </div>
</div>
