<hr>
<h2>Add a New Creature</h2>
<div>
  <label>Enter Species Name:</label>
  <input #newSpecies>
</div>
<div>
  <label>Enter Individual's Name:</label>
  <input #newName>
</div>
<div>
  <label>Enter Individual's Age:</label>
  <input #newAge>
</div>
<div>
  <label>Enter Individual's Gender:</label>
  <input #newSex>
</div>
<div>
  <label>Enter Zoo Location:</label>
  <select #newLocation>
    <option [ngValue]="aerie">Aerie</option>
    <option [ngValue]="desert">Desert Flats</option>
    <option [ngValue]="forest">Dorest Forest</option>
    <option [ngValue]="caves">Glass Caves</option>
    <option [ngValue]="pools">Northend Pools</option>
  </select>
</div>
<div>
  <label>Enter Dietary Requirements:</label>
  <input #newDiet>
</div>
<div>
  <label>Enter Required Number of Caretakers:</label>
  <input #newCaretakers>
</div>
<div>
  <label>Enter Individual Likes:</label>
  <input #newLikes>
</div>
<div>
  <label>Enter Individual Dislikes:</label>
  <input #newDislikes>
</div>
<button (click)="submitForm(newSpecies.value, newName.value, newAge.value, newSex.value, newLocation.value, newDiet.value, newCaretakers.value, newLikes.value, newDislikes.value); newSpecies.value=''; newName.value=''; newAge.value=''; newSex.value=''; newLocation.value=''; newDiet.value=''; newCaretakers.value=''; newLikes.value=''; newDislikes.value='';">Add</button>
